html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

form {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .8);
    width: 300px;
    min-height: 150px;
    background-color: white;
}

form label {
    margin: 10px 0;
}

form [type=submit] {
    margin: 5px 0;
}

form input, form label {
    display: block;
}

#error {
    color: red;
}

body, main, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 10px;
}

[type=submit] {
    border: solid .5px rgb(50, 50, 50);
    padding: 6px 18px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

[type=submit]:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}

[type=text] {
    border: none;
    border-bottom: .5px solid black;
    background-color: transparent;
    margin: 10px 0;
}

[type=text]:focus-visible, input:focus {
    outline: none;
    border-bottom: solid 2px black;
}

footer {
    position: absolute;
    bottom: 10px;
}